/*-------------
-  Game css
---------------*/

.game {
    display: none;
    height: 100%;

    &.is-active {
        display: flex;
    }

    &__left {
        position: fixed;
        width: 31%;
        background: $bg-color;
        height: 100%;
        padding: 1em 3%;
        background-size: 99% 95%;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: url('https://media.giphy.com/media/35HTeYyUj5FPMUgVec/giphy.gif');
    }

    &__right {
        position: fixed;
        overflow-y:auto;
        margin-left: 30%;
        width: 70%;
        height: 100%;
        padding: 2em 3% 2em 0;

        clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);
        background: $secondary-color;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(58, 19, 56, 1) 70%, rgba(58, 19, 56, 1) 100%);
    }

    &__logo {
        font-size: 2.5em;
        font-weight: 500;
        font-family: 'K2D', sans-serif;

        a {
            color: $test-color;
        }

        &:before {
            content: '';
            display: inline-block;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-color: $third-color;
        }
    }

    &__inner {
        @include inner;

        padding-top: 1em;
        text-align: center;
    }

    &__title {
        font-weight: 600;
        font-size: 2.2em;
        color: $third-color;
        margin: 0 0 1em 0;
        font-family: 'K2D', sans-serif;

    }

    &__controls {
        width: 100%;
        height: auto;
        text-align: left;
        border-top: 1px solid $forth-color;
        cursor: pointer;
        overflow: hidden;
        margin: 0 0 1em 0;
        padding-left: 5%;

        &:hover>img {
            transform: scale(1.5)
        }
    }

    &__image {
        display: block;
        width: 100%;
        max-width: 600px;
        max-height: 400px;
        margin: auto;
        transition: transform 0.5s ease-in-out;
    }

    &__tag {
        border-right: 1px solid $forth-color;
        border-bottom: 1px solid $forth-color;
        display: inline-block;
        padding: 5px 20px;
        color: $primary-color;
    }

    &-buttons {
        overflow: hidden;
    }

    &-buttons__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: .5em -0.5em;
        padding: 1em;
    }

    &__start{
        padding-left: 5%;
    }
}
