/*-------------
-  Text hellpers css
---------------*/

.text{

    font-size: $font-size;

    &--large{
        font-size: $font-size-l;
    }

    &--xl{
        font-size: $font-size-xl;
    }

    &--small{
        font-size: $font-size-s;
    }

    &--bold{
        font-weight: bold;;
    }

    &--color-p{
      color:  $primary-color;
    }

    &--color-s{
        color:  $secondary-color;
    }

    &--color-t{
        color:  $third-color;
    }

    &--color-f{
        color:  $forth-color;
    }

    &--color-i{
        color:  inherit;
    }
}