/*-------------
-  Base css
---------------*/

body {
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;

    background: $fith-color;
}

*{
    box-sizing: border-box;
}

canvas{
    display: none;
    width: 100%;

    &.is-active{
        display: block;
    }
}